.slider-container img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    position: relative;
    left: 40px;
}

.slider-container img:hover{
    transform: scale(1.1);
}


.slider-container{
    position: relative;
    bottom: 30px;
}